body {
    background: rgba(20, 30, 50, 1.0) !important;
    color: white !important;
    padding: 20px;
    position: relative;
}

label {
    font-size: 1.4em;
    margin-right: 50px;
}

.text-color-green {
    color: rgba(47, 174, 82, 1.0) !important;
}

.text-color-red {
    color: rgba(255, 65, 53, 1.0) !important;
}

.text-color-orange {
    color: rgba(233, 124, 41, 1.0) !important;
}

.table-section {
    height: 300px;
    margin-top: 30px;
}

.red {
    color: red !important;
}

.card {
    color: black !important;
    width: 165px;
    height: 220px;
    display: inline-block !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 50px;
}

.card:hover {
    z-index: 1000;
}

.card .value {
    font-size: 2.2em;
    padding: 0;
    text-transform: uppercase;
}

.card .suit {
    font-size: 1.4em;
    padding: 0;
    margin-top: -5px;
    text-transform: uppercase;
}

.card .small-text {
    padding: 0;
    margin-top: -5px;
}

.button {
    padding: 10px 30px;
    display: inline-block !important;
}

#player-widget .red, .button.red {
    color: white !important;
    background: rgba(255, 65, 53, 1.0) !important;
}

#player-widget .green, .button.green {
    background: rgba(47, 174, 82, 1.0) !important;
}

#player-widget .orange, .button.yellow {
    background: rgba(233, 124, 41, 1.0) !important;
}

.button.default {
    background: rgba(14, 121, 255, 1.0) !important;
}

#player-widget .gray {
    background: #777 !important;
}

#player-widget {
    width: 300px;
    position: absolute;
    right: 0;
    top: 200px;
    border: 1px solid #ccc;
}

#matchOutcome {
    margin-left: 20px;
}

#player-widget span {
    font-size: 0.9em;
    padding: 5px;
}

#player-widget strong {
    display: inline-block;
    font-size: 2em;
    width: 50px;
    padding: 5px;
    text-align: center;
}

#player-widget .stats {
    display: inline-block;
    width: 248px;
}

#player-widget .match-status {
    padding: 7px 5px;
}

.active {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
    50% {opacity: 0.75; -webkit-transform: scale(0.95, 0.95)}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
}